<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name=apple-mobile-web-app-capable content=yes>
	<meta name=format-detection content="telephone=no">
	<meta name=description>
	<link rel=stylesheet type=text/css href=../dist/styles/style-8a84341d2e.css />
</head>
<body>
	<header>
		<div class=header-top>
			<div class=image>
				<img src=../images/act-europapokal-header-main.jpg width=100%>
				<span class=image-alpha></span>
			</div>
		</div>
		<div class=header-sub>
			<div class=image>
				<img src=../images/act-europapokal-header-bkg.jpg width=100%>
				<span class=image-alpha></span>
			</div>
			<div class=qr-code>
				<div class=image>
					<img src=../images/qr-code-forwechat99.png width=100%></div>
			</div>
		</div>
	</header>
	<section id=mainBlocks>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-11</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-1"></h6>
						<p class=national-name>法国</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔1〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-2"></h6>
						<p class=national-name>罗马尼亚</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-3"></h6>
						<p class=national-name>阿尔巴尼亚</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔2〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-4"></h6>
						<p class=national-name>瑞士</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-12</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-5"></h6>
						<p class=national-name>威尔士</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔3〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-6"></h6>
						<p class=national-name>斯洛文尼亚</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-7"></h6>
						<p class=national-name>英格兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔4〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-8"></h6>
						<p class=national-name>俄罗斯</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-9"></h6>
						<p class=national-name>土耳其</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔5〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-10"></h6>
						<p class=national-name>克罗地亚</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-13</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-11"></h6>
						<p class=national-name>波兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔6〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-12"></h6>
						<p class=national-name>北爱尔兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-13"></h6>
						<p class=national-name>德国</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔7〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-14"></h6>
						<p class=national-name>乌克兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-15"></h6>
						<p class=national-name>西班牙</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔8〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-16"></h6>
						<p class=national-name>捷克</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-14</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-17"></h6>
						<p class=national-name>爱尔兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔9〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-18"></h6>
						<p class=national-name>瑞典</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-19"></h6>
						<p class=national-name>比利时</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔10〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-20"></h6>
						<p class=national-name>意大利</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-15</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-21"></h6>
						<p class=national-name>奥地利</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔11〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-22"></h6>
						<p class=national-name>匈牙利</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-23"></h6>
						<p class=national-name>葡萄牙</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔12〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-24"></h6>
						<p class=national-name>冰岛</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-8"></h6>
						<p class=national-name>俄罗斯</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔13〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-6"></h6>
						<p class=national-name>斯洛文尼亚</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-16</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-2"></h6>
						<p class=national-name>罗马尼亚</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔14〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-4"></h6>
						<p class=national-name>瑞士</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-1"></h6>
						<p class=national-name>法国</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔15〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-3"></h6>
						<p class=national-name>阿尔巴尼亚</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-7"></h6>
						<p class=national-name>英格兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔16〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-5"></h6>
						<p class=national-name>威尔士</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-17</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-14"></h6>
						<p class=national-name>乌克兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔17〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-12"></h6>
						<p class=national-name>北爱尔兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-13"></h6>
						<p class=national-name>德国</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔18〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-11"></h6>
						<p class=national-name>波兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-20"></h6>
						<p class=national-name>意大利</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔19〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-18"></h6>
						<p class=national-name>瑞典</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-18</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-16"></h6>
						<p class=national-name>捷克</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔20〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-10"></h6>
						<p class=national-name>克罗地亚</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-15"></h6>
						<p class=national-name>西班牙</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔21〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-9"></h6>
						<p class=national-name>土耳其</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-19"></h6>
						<p class=national-name>比利时</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔22〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-17"></h6>
						<p class=national-name>爱尔兰</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-19</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-24"></h6>
						<p class=national-name>冰岛</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔23〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-22"></h6>
						<p class=national-name>匈牙利</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-23"></h6>
						<p class=national-name>葡萄牙</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔24〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-21"></h6>
						<p class=national-name>奥地利</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-20</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-2"></h6>
						<p class=national-name>罗马尼亚</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔25〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-3"></h6>
						<p class=national-name>阿尔巴尼亚</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-4"></h6>
						<p class=national-name>瑞士</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔26〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-1"></h6>
						<p class=national-name>法国</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-21</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-8"></h6>
						<p class=national-name>俄罗斯</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔27〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-5"></h6>
						<p class=national-name>威尔士</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-6"></h6>
						<p class=national-name>斯洛文尼亚</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔28〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-7"></h6>
						<p class=national-name>英格兰</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-22</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-14"></h6>
						<p class=national-name>乌克兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔29〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-11"></h6>
						<p class=national-name>波兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-12"></h6>
						<p class=national-name>北爱尔兰</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔30〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-13"></h6>
						<p class=national-name>德国</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-16"></h6>
						<p class=national-name>捷克</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔31〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-9"></h6>
						<p class=national-name>土耳其</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-10"></h6>
						<p class=national-name>克罗地亚</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔32〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-15"></h6>
						<p class=national-name>西班牙</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=info-block>
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-23</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-24"></h6>
						<p class=national-name>冰岛</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔33〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-21"></h6>
						<p class=national-name>奥地利</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-22"></h6>
						<p class=national-name>匈牙利</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔34〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-23"></h6>
						<p class=national-name>葡萄牙</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-20"></h6>
						<p class=national-name>意大利</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔35〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-17"></h6>
						<p class=national-name>爱尔兰</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-18"></h6>
						<p class=national-name>瑞典</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔36〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-19"></h6>
						<p class=national-name>比利时</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart eighth">
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-25</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>A2</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔37〕</h6>
						<h6 class=serial>a</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>C2</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart eighth">
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-26</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>B1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔38〕</h6>
						<h6 class=serial>b</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>A3/C3/D3</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>D1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔39〕</h6>
						<h6 class=serial>c</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>B3/E3/F3</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>A1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>21:00</h6>
						<h6 class=sequence>〔40〕</h6>
						<h6 class=serial>d</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>C3/D3/E3</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart eighth">
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-27</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>C1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔41〕</h6>
						<h6 class=serial>e</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>A3/B3/F3</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>F1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔42〕</h6>
						<h6 class=serial>f</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>E2</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart eighth">
			<div class=title-wrapper>
				<h5 class=title>
					<span>06-28</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>E1</p>
					</div>
					<div class=versus-info>
						<h6 class=time>00:00</h6>
						<h6 class=sequence>〔43〕</h6>
						<h6 class=serial>g</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>D2</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>B2</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔44〕</h6>
						<h6 class=serial>h</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>F2</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart quarter">
			<div class=title-wrapper>
				<h5 class=title>
					<span>07-01</span>
				</h5>
				<h5 class=title>
					<span>07-02</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>a胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔45〕</h6>
						<h6 class=serial>i</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>c胜者</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>b胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔46〕</h6>
						<h6 class=serial>j</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>f胜者</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart quarter">
			<div class=title-wrapper>
				<h5 class=title>
					<span>07-03</span>
				</h5>
				<h5 class=title>
					<span>07-04</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>e胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔47〕</h6>
						<h6 class=serial>k</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>g胜者</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>d胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔48〕</h6>
						<h6 class=serial>l</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>h胜者</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart half">
			<div class=title-wrapper>
				<h5 class=title>
					<span>07-07</span>
				</h5>
				<h5 class=title>
					<span>07-08</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>i胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔49〕</h6>
						<h6 class=serial>m</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>j胜者</p>
					</div>
				</li>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>k胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔50〕</h6>
						<h6 class=serial>n</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>l胜者</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="info-block unstart final">
			<div class=title-wrapper>
				<h5 class=title>
					<span>07-11</span>
				</h5>
			</div>
			<ul class=lists>
				<li class=clean>
					<div class="versus vs-left">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>m胜者</p>
					</div>
					<div class=versus-info>
						<h6 class=time>03:00</h6>
						<h6 class=sequence>〔51〕</h6>
					</div>
					<div class="versus vs-right">
						<h6 class="national-flag flag-25"></h6>
						<p class=national-name>n胜者</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<footer>
		<div class=image>
			<img src=../images/act-europapokal-footer.png width=100%>
			<span class=image-alpha></span>
		</div>
	</footer>
</body>
</html>